.navbar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    margin: 0 3rem;
}

a{
    color: white;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline;
    margin: 0 12px;
    color: white;
    font-weight: lighter;
    font-size: small;
    
}

 .active {
    background-color: rgb(231, 12, 198);
    border-radius: 50px;
    padding: 6px;
}

.logo{
    width: 80px;
    height: 70px;
}

.metricks{
    width: 50%;
    border-radius: 5px;
}

.par {
    margin-right: 5px;
}


