*{
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgb(110, 72, 160), rgb(4, 4, 29));
    background-repeat: no-repeat;
    font-family: calibri;
    width: 100%;
    height: 100%;
}
a{
  text-decoration: none;
}

